div, a, p {
    font-family: arial, sans-serif;
}

.header {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    min-height: 4%;
}

.header a {
    width: 10%;
    margin: 10px;
    color: grey;
}

.footer {
    align-items: center;
    background-color: #f3f3f3;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    min-height: 4%;
}

.footer a {
    width: 10%;
    margin: 10px;
    color: grey;
}

.center-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 92%;
}

.search-box {
    width: 300px;
    border-radius: 15px;
}

.special-button {
    padding: 5px;
    margin: 4px;
    background-color: lightgrey;
}

.image-container {
    padding: 25px;
}
